@font-face {
    font-family: 'iconfont';
    src: url('./font/iconfont.eot');
    src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('./font/iconfont.woff') format('woff'),
    url('./font/iconfont.ttf') format('truetype'),
    url('./font/iconfont.svg#iconfont') format('svg');
}

.dp-container {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}

.dp-calendar {
    display: none;
    position: absolute;
    font-family: 'monospace', 'Helvetica Neue', 'Microsoft Sans Serif', 'Microsoft Yahei', 'SansSerif';
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #fff;
}

.dp-mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dp-inner-wrapper {
    padding: 10px;
    border: 1px solid #bfbfbf;
}

.dp-header {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom:10px;
}

.dp-body {
    width: 238px;
    border: 1px solid #bfbfbf;
    overflow: hidden;
}

.dp-month-view {
    position: relative;
    width: 100%;
}

.dp-month-scroll-box {
    position: relative;
    width: 100%;
}

.dp-month-canvas-background, .dp-month-canvas-foreground {
    position: absolute;
    top: 0;
    left: 0;
}

.dp-year-canvas-background, .dp-year-canvas-foreground {
    position: absolute;
    top: 0;
    left: 0;
}

.dp-weeks-title {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom: 1px solid #bfbfbf;
    background: #f5f5f5;
}

.dp-week-day {
    display: table-cell;
    height: 24px;
    text-align: center;
    vertical-align: middle;
}

.dp-btn-group {
    display: flex;
    display: -webkit-flex;
}

.dp-btn-group > div {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background-image: url(./btn-bg.png);
    -webkit-background-size: 300% 200%;
    background-size: 300% 200%;
}

.dp-btn-group > div:active {
    background-image: url(./btn-bg.png);
    /*-webkit-background-size: 300% 200%;*/
    /*background-size: 300% 200%;*/
}

.dp-btn-group > div:last-child {
    margin-right: 0;
}

.dp-btn-next {
    background-position: 96px 0;
}

.dp-btn-next:active {
    background-position: 96px 72px;
}

.dp-btn-prev {
    background-position: 0 0;
}

.dp-btn-prev:active {
    background-position: 0 72px;
}

.dp-btn-curr {
    background-position: 48px 0;
}

.dp-btn-curr:active {
    background-position: 48px 72px;
}

.dp-date-label {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items:center;
}

.dp-year-scroll-box {
    position: relative;
    height: 120px;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

.dp-year-view {
    display: flex;
    display: -webkit-flex;
}

.dp-scroll-bar {
    width:14px;
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    align-items:center;
    border-left: 1px solid #bfbfbf;
}

.dp-scroll-thumb {
    width:10px;
    height:30px;
    background: #d8d8d8;
}

.dp-input {
    width: 180px;
    height: 34px;
    align-items:center;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    font-family: 'monospace', 'Helvetica Neue', 'Microsoft Sans Serif', 'Microsoft Yahei', 'SansSerif';
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.dp-input-inner-wrapper {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    align-items:center;
    height: 100%;
    padding: 0 6px;
}

.dp-input-text {
    display: flex;
    display: -webkit-flex;
    line-height: 1;
}

.dp-input-year, .dp-input-month, .dp-input-day {
    text-align: center;
}

.dp-input-text > div.active {
    background-color: #b8d7fc;
}

.dp-input-year {
    width: 40px;
}

.dp-input-month, .dp-input-day {
    width: 20px;
}

.dp-input-btn-group {
    display: none;
    align-items: center;
    -webkit-align-items: center;
    font-family: iconfont;
}

.dp-btn-clear {
    width: 13px;
    height: 13px;
    margin-right:3px;
    font-size: 13px;
    color: #ccc;
}

.dp-spin-up, .dp-spin-down {
    width: 15px;
    height: 13px;
    font-size: 12px;
    text-align: center;
    background: #f5f5f5;
    color: #b5b5b5;
}

.dp-spin-up:hover, .dp-spin-down:hover {
    background-color: #dfdfdf;
}

.dp-spin-up:active, .dp-spin-down:active {
    background-color: #dddddd;
}

.dp-spin-down {
    background-position: -15px 0;
}

.dp-indicator {
    width: 20px;
    height: 15px;
    color: #251f1f;
    text-align: center;
    font-size: 12px;
    line-height:15px;
}

.dp-indicator:hover {
    background-color: #eee;
}

.dp-container:hover .dp-input-btn-group {
    display: -webkit-flex;
    display: flex;
}

.dp-container:focus .dp-input-btn-group {
    display: -webkit-flex;
    display: flex;
}

.dp-container:focus .dp-input {
    /*border: 1px solid #2196F3;*/
    border-bottom: none;
}
